*{
    margin:0;
    padding: 0;
    outline: none;
    overflow: hidden;
}
nav{
    background-color: black;
    padding: 12px;
}
ul{
    display: flex;
    flex-direction: row;
}
li{
    list-style: none;
    padding: 3px 17px;
    
}
a{
    text-decoration: none;
    color:white;
    font-weight: bold;
}
body::before{
    content: "";
    height: 750px;
    z-index: -1;
    width: 100%;
    top:0px;
    position: absolute;
    background: url('/static/gym.jpg');
    background-size: contain;
}

h1{
    text-align: center;
    text-shadow: 1px 1px 30px white, 0 0 52px blue, 0 0 18px white;
    margin: 18px;
    padding: 6px;
}

.container{
    margin:12px auto;
    max-width: 70%;
}
input ,textarea{
    display: block;
    padding: 8px;
    margin: 8px auto;
    width: 60%;
    outline: none;
    border: 3px solid black;
    border-radius: 8px;
}
.btn{
    position: relative;
    left: 33vw;
    padding: 5px 12px;
    font-size: 19px;
    border-radius: 16px;
    font-weight: 700;
    background-color: grey;
    color: white;
    border: 2px solid black;
    cursor: pointer;
}

